**/INT*/
**/openvino-sd-xl-base-1.0/
**/diffusion_pipeline_openjourney/
**/your_output_dir/

*.bin
*.onnx
*.npz
*.pt
*.pth
*.ckpt
*.tflite

**/venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

.DS_Store
